<section class="hero">
    <div class="container">
        <aside class="hero-aside2">
            <h2 class="contact-title"></h2>
            <ul class="contact-list">
                <li class="contact-item">
                    <h2 class="contact-subtitle">Address:</h2>
                    <address class="contact-address">street, town, ZIP code</address>
                </li>
                <li class="contact-item">
                    <h2 class="contact-subtitle">Phone numbers:</h2>
                    <a href="tel:+10000000000">+1 - 000 - 000 - 0000</a>
                </li>
                <li class="contact-item">
                    <h2 class="contact-subtitle">Email:</h2>
                    <a href="mailto:email@mail.com">email@mail.com</a>
                </li>
            </ul>
            <button>Shop Now</button>
        </aside>
        <div class="hero-block">
            <h2 class="reply">Leave a reply</h2>
            <form class="hero-form">
                <ul class="form-list">
                    <li class="form-item">
                        <h2 class="form-name">Your Name</h2>
                    </li>
                    <li class="form-item">
                        <h2 class="form-name">Your Name</h2>
                    </li>
                    <li class="form-item">
                        <h2 class="form-name">Your E-mail</h2>
                    </li>
                    <li class="form-item">
                        <h2 class="form-name">Your Message (Optional)</h2>
                    </li>
                </ul>
         </form>
        </div>
        <aside class="hero-aside">
            <ul class="aside-list">
                <li class="aside-item">
                    <h2 class="aside-title">Archives</h2>
                    <ul class="archives">
                        <li class="archives-item">
                            <time datetime="2022-03" class="archives-time">March 2022</time>
                            <p class="archives-number">(1)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-02" class="archives-time">February 2022</time>
                            <p class="archives-number">(2)</p>
                        </li>
                        <li class="archives-item">
                            <time datetime="2022-01" class="archives-time">January 2022</time>
                            <p class="archives-number">(3)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Categories</h2>
                    <ul class="categories-list">
                        <li class="categories-item">
                            <p class="categories-text">Electric</p>
                            <p class="categories-number">(3)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Fan</p>
                            <p class="categories-number">(2)</p>
                        </li>
                        <li class="categories-item">
                            <p class="categories-text">Machine</p>
                            <p class="categories-number">(2)</p>
                        </li>
                    </ul>
                </li>
                <li class="aside-item">
                    <h2 class="aside-title">Recent Posts</h2>
                    <ul class="posts-list">
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a wooman"
                                class="posts-photo">
                            <h3 class="posts-subtitle">Bruden Mode ...</h3>
                            <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                        </li>
                        <li class="posts-item">
                            <img src="../../images/blog-page/blog-mini.webp" alt="photo of a wooman"
                                class="posts-photo">
                            <h3 class="posts-subtitle">Bruden Mode ...</h3>
                            <time datetime="2022-04-03" class="posts-time">April 3, 2022</time>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <img src="../../images/" alt="">
    </div>
</section>
