.hero-container {
    display: flex;
}

.contact-title {
    font-family: 'Cormorant';
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 4.2px;
    color: #000;
    text-align: center;
}

.form-list {
    margin-right: 40px;
}

.title-contact {
    font-family: 'Cormorant';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: capitalize;
    color: #000;
}

.contact-subtitle {
    font-family: 'Cormorant';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: capitalize;
    margin-top: 30px;

}

.contact-address {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    color: #000;
    margin-top: 15px;
}

.reply {
    font-family: 'Cormorant';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: capitalize;
}

.form-item {
    margin-top: 30px;
}

.form-name {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.form-input {
    width: 460px;
    height: 34px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    margin-top: 10px;
}

.message-input {
    width: 460px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    padding-left: 10px;
    padding-bottom: 150px;
}

.form-button {
    /* кнопка */
    display: flex;
    padding: 14px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--black, #292A33);
    /* текст */
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FFF;
}