<section class="deal">
    <div class="container">
        <h2 class="deal-title">Deal of the week</h2>
        <ul class="deal-list">
            <li class="deal-item">
                <div class="deal-box">
                    <img src="../../images/home-page/deal1.webp" alt="Fiery Red Bruden Backpack" class="deal-image">
                    <div class="deal-container">
                        <h3 class="deal-subtitle">Fiery Red Bruden Backpack</h3>
                        <p class="deal-price">C&#36; 99.99</p>
                        <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling comfortable and having a...</p>
                        <button type="button" class="deal-button">Add to cart</button>
                        <img src="../../images/home-page/deal4.webp" alt="like" class="deal-icon">
                        <img src="../../images/home-page/deal3.webp" alt="watch" class="deal-icon"></div>
                </div>
            </li>
            <li class="deal-item">
                <div class="deal-box">
                    <img src="../../images/home-page/deal2.webp" alt="Bruden's Backpack" class="deal-image">
                    <div class="deal-container">
                        <h3 class="deal-subtitle">Bruden's Backpack</h3>
                        <p class="deal-price">C&#36; 66.49</p>
                        <p class="deal-text">Bruden's Backpack will give all your essentials a home while still feeling comfortable and having a...</p>
                        <button class="deal-button">Add to cart</button>
                        <img src="../../images/home-page/deal4.webp" alt="like" class="deal-icon">
                        <img src="../../images/home-page/deal3.webp" alt="watch" class="deal-icon">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>