.news-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.news-name {
    font-family: 'Cormorant';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
    text-transform: capitalize;
    
}

.news-name-container {
 margin: 0 auto;
}

.news-title {
    color: #000;
    text-align: center;
    font-family: 'Cormorant';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    letter-spacing: 1.8px;
    width: 217px;
    margin-top: 20px;

}

.news-text {
    color: #000000;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: 0.8px;
    text-transform: capitalize;
    width: 320px;
    height: 104px;
}

.read-more {
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-top: 10px;
    padding-left: 249px;
}

.read-moree {
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-top: 10px;
    padding-left: 249px;
}